@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

.form {
  margin-left: 25%;
  margin-right: 25%;
}

.formInput1 {
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  border-radius: 5px 5px 5px 5px;
}

.formInput2 {
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  border-radius: 5px 5px 5px 5px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.formButton {
  width: 100%;
  background: linear-gradient(to right, #672280, #a626d3);
  padding: 0;
  border: none;
  border-radius: 5px 5px 5px 5px;
  height: 35px;
  margin-top: 1rem;
  color: white;
  font-family: 'Dosis';
}
.randomImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.memeTopText {
  
  top: 2rem;
  position: absolute;
  max-width: 100%;
  /* Allow words to break and wrap to the next line */
  word-wrap: break-word;
  /* Prevent long words from overflowing the container */
  overflow-wrap: break-word;
  /* Use ellipsis (...) to indicate text overflow (optional) */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Set any other desired styles (font size, font family, etc.) */
  /* For example: */
  font-size: 20px;
  font-family: Arial, sans-serif;
  cursor: grab;
  user-select: none;
  color: white;
  padding: 5px;
}
.memeBottomText {
  
  bottom: 2rem;
  position: absolute;
  max-width: 100%;
  /* Allow words to break and wrap to the next line */
  word-wrap: break-word;
  /* Prevent long words from overflowing the container */
  overflow-wrap: break-word;
  /* Use ellipsis (...) to indicate text overflow (optional) */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Set any other desired styles (font size, font family, etc.) */
  /* For example: */
  font-size: 20px;
  font-family: Arial, sans-serif;
  cursor: grab;
  user-select: none;
  color: white;
  padding: 5px;
}
.memeBottomText:active {
  cursor: grabbing;
}
.memeTopText:active {
  cursor: grabbing;
}
.container {
  position: relative;
  text-align: center;
}

@media (min-width: 769px) {
  .inputs {
    display: flex;
    justify-content: space-between;
  }
  .inputs .input1 .input2 {
    width: 48%;
  }
}

@media (max-width: 768px) {
  .inputs {
    display: block;
  }
  .inputs .input1 .input2 {
    width: 100%;
    margin-bottom: 10px;
  }
}
